# Select variables for Population-ENIGH dataset

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split

In [3]:
population_df = pd.read_csv('../datasets-ENIGH/conjunto_de_datos_poblacion_enigh_2016_ns/conjunto_de_datos/conjunto_de_datos_poblacion_enigh_2016_ns.csv')
population_df.head()

C:\Users\magui\AppData\Local\Temp\ipykernel_7220\464118857.py:1: DtypeWarning: Columns (46) have mixed types. Specify dtype option on import or set low_memory=False.
  population_df = pd.read_csv('../datasets-ENIGH/conjunto_de_datos_poblacion_enigh_2016_ns/conjunto_de_datos/conjunto_de_datos_poblacion_enigh_2016_ns.csv')

,folioviv,foliohog,numren,parentesco,sexo,edad,madre_hog,madre_id,padre_hog,padre_id,...,segvol_6,segvol_7,hijos_viv,hijos_mue,hijos_sob,trabajo_mp,motivo_aus,act_pnea1,act_pnea2,num_trabaj
0,100068001,1,2,201,2,71,2,NaN,2,NaN,...,6.0,NaN,9,2,7,2.0,NaN,3.0,NaN,NaN
1,100068002,1,1,101,1,64,2,NaN,2,NaN,...,6.0,NaN,0,0,0,2.0,NaN,2.0,NaN,NaN
2,100068002,1,2,201,2,61,2,NaN,2,NaN,...,NaN,7.0,4,0,4,2.0,NaN,3.0,NaN,NaN
3,100068002,1,3,301,2,24,1,2,1,1,...,6.0,NaN,0,0,0,1.0,NaN,NaN,NaN,2.0
4,100068003,1,1,101,1,82,2,NaN,2,NaN,...,6.0,NaN,0,0,0,1.0,NaN,NaN,NaN,1.0

In [4]:
population_df.shape

(257805, 178)

In [11]:
population_df.columns.values

array(['folioviv', 'foliohog', 'numren', 'parentesco', 'sexo', 'edad',
       'madre_hog', 'madre_id', 'padre_hog', 'padre_id', 'disc1', 'disc2',
       'disc3', 'disc4', 'disc5', 'disc6', 'disc7', 'causa1', 'causa2',
       'causa3', 'causa4', 'causa5', 'causa6', 'causa7', 'hablaind',
       'lenguaind', 'hablaesp', 'comprenind', 'etnia', 'alfabetism',
       'asis_esc', 'nivel', 'grado', 'tipoesc', 'tiene_b', 'otorg_b',
       'forma_b', 'tiene_c', 'otorg_c', 'forma_c', 'nivelaprob',
       'gradoaprob', 'antec_esc', 'residencia', 'edo_conyug',
       'pareja_hog', 'conyuge_id', 'segsoc', 'ss_aa', 'ss_mm', 'redsoc_1',
       'redsoc_2', 'redsoc_3', 'redsoc_4', 'redsoc_5', 'redsoc_6',
       'hor_1', 'min_1', 'usotiempo1', 'hor_2', 'min_2', 'usotiempo2',
       'hor_3', 'min_3', 'usotiempo3', 'hor_4', 'min_4', 'usotiempo4',
       'hor_5', 'min_5', 'usotiempo5', 'hor_6', 'min_6', 'usotiempo6',
       'hor_7', 'min_7', 'usotiempo7', 'hor_8', 'min_8', 'usotiempo8',
       'segpop', 'atemed', 'inst_1', 'inst_2', 'inst_3', 'inst_4',
       'inst_5', 'inst_6', 'inscr_1', 'inscr_2', 'inscr_3', 'inscr_4',
       'inscr_5', 'inscr_6', 'inscr_7', 'inscr_8', 'prob_anio',
       'prob_mes', 'prob_sal', 'aten_sal', 'servmed_1', 'servmed_2',
       'servmed_3', 'servmed_4', 'servmed_5', 'servmed_6', 'servmed_7',
       'servmed_8', 'servmed_9', 'servmed_10', 'servmed_11', 'hh_lug',
       'mm_lug', 'hh_esp', 'mm_esp', 'pagoaten_1', 'pagoaten_2',
       'pagoaten_3', 'pagoaten_4', 'pagoaten_5', 'pagoaten_6',
       'pagoaten_7', 'noatenc_1', 'noatenc_2', 'noatenc_3', 'noatenc_4',
       'noatenc_5', 'noatenc_6', 'noatenc_7', 'noatenc_8', 'noatenc_9',
       'noatenc_10', 'noatenc_11', 'noatenc_12', 'noatenc_13',
       'noatenc_14', 'noatenc_15', 'noatenc_16', 'norecib_1', 'norecib_2',
       'norecib_3', 'norecib_4', 'norecib_5', 'norecib_6', 'norecib_7',
       'norecib_8', 'norecib_9', 'norecib_10', 'norecib_11', 'razon_1',
       'razon_2', 'razon_3', 'razon_4', 'razon_5', 'razon_6', 'razon_7',
       'razon_8', 'razon_9', 'razon_10', 'razon_11', 'diabetes',
       'pres_alta', 'peso', 'segvol_1', 'segvol_2', 'segvol_3',
       'segvol_4', 'segvol_5', 'segvol_6', 'segvol_7', 'hijos_viv',
       'hijos_mue', 'hijos_sob', 'trabajo_mp', 'motivo_aus', 'act_pnea1',
       'act_pnea2', 'num_trabaj'], dtype=object)

## Features selection
1. Domain knowledge selection

In [15]:
keys = ['folioviv', 'foliohog', 'numren']
relevant = ['edad', 'disc1', 'disc2', 'causa1', 'causa2', 'hablaind', 'alfabetism', 'nivel', 'tiene_c', 'forma_c',
            'nivelaprob', 'edo_conyug', 'pareja_hog', 'hor_1', 'usotiempo2', 'usotiempo6', 'hor_8', 'atemed', 'noatenc_2',
            'peso', 'segvol_3', 'hijos_viv', 'num_trabaj']

In [16]:
population_df = population_df[keys + relevant]
population_df.head()

,folioviv,foliohog,numren,edad,disc1,disc2,causa1,causa2,hablaind,alfabetism,...,hor_1,usotiempo2,usotiempo6,hor_8,atemed,noatenc_2,peso,segvol_3,hijos_viv,num_trabaj
0,100068001,1,2,71,8,NaN,NaN,NaN,2.0,2.0,...,0,9.0,NaN,42,1.0,NaN,1.0,NaN,9,NaN
1,100068002,1,1,64,8,NaN,NaN,NaN,2.0,1.0,...,12,9.0,9.0,6,1.0,NaN,2.0,NaN,0,NaN
2,100068002,1,2,61,8,NaN,NaN,NaN,2.0,1.0,...,0,9.0,NaN,34,1.0,NaN,1.0,NaN,4,NaN
3,100068002,1,3,24,8,NaN,NaN,NaN,2.0,1.0,...,48,9.0,NaN,28,1.0,NaN,1.0,NaN,0,2.0
4,100068003,1,1,82,8,NaN,NaN,NaN,2.0,1.0,...,20,9.0,NaN,40,1.0,NaN,1.0,NaN,0,1.0